SCREENAPP_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJ2LnNvbmF3YW5lQG91dGxvb2suY29tIiwicm9sZSI6InVzZXIiLCJpYXQiOjE3NjkwMDQ3ODUsImV4cCI6MTc3Njc4MDc4NSwic3ViIjoiNjc4ZTNjZjIxYmRiNWE2MDE3M2UzNzNlIn0.ejydnXwb4Y3znMT8WB6qr82dZTe9GTJm7Riecgp6KsU
PORT=8000